<% content_for :email do %>
  <h1>Welcome, <%= @answer.user.email %></h1>
  <p>
    <%= t('answer.email.answer_accepted_line_1') %><br/>
    <%= t('answer.email.answer_accepted_line_2', site_address: Rails.application.config.challange_app_site_address) %>
  </p>
<% end %>   