<% content_for :email do %>
  <h1>Welcome, <%= @question.user.email %></h1>
  <p>
    <%= t('question.email.new_answer_line_1', title: truncate(@question.title, length: 15) ) %><br/>
    <%= t('question.email.new_answer_line_2', site_address: Rails.application.config.challange_app_site_address) %>
  </p>
<% end %>   