<div ng-app="challengeApp" class="container container-fluid">
    <div ng-controller="SessionsController">
        <div class="view-container header" ng-include src="headerTemplate">

        </div>
    </div>
    <div class="view-container">
        <div ng-view class="view-frame animate-view">

        </div>
    </div>
</div>