<div ng-class="((field.$dirty) && !(field.$error | isEmpty)) ? 'has-error' : ''">
    <label class="control-label" for="questionTitle">
        {{ title }}
        <span ng-if="field.$dirty">
            <ng-messages for="field.$error">
                <span ng-repeat="errorMessage in errorMessages">
                    <span ng-message-exp="errorMessage.type">
                        ({{ errorMessage.description }})
                    </span>
                </span>
            </ng-messages>
        </span>
    </label>
</div>