<div ng-if="formErrors" class="alert alert-danger" role="alert">
    <ul ng-repeat="error in formErrors">
        <li>{{ error }}</li>
    </ul>
</div>
<div ng-if="formError" class="alert alert-danger" role="alert">
	{{ formError }}
</div>