<nav class="navbar navbar-static-top" ng-init="setSignedUser()">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" style="width: 100%;">
            <li ng-class="$root.isActive('/')">
                <a href="/#/questions/">Home</a>
            </li>
            <li ng-class="$root.isActive('/users/')">
                <a href="/#/users/">Users (board)</a>
            </li>
            <li style="float: right;" ng-if="sharedData.isSigned()" ng-click="signOut()" id='sign-out-button'>
                <a>
                    Sign Out
                </a>
            </li>
            <li style="float: right;" ng-if="sharedData.isSigned()" ng-class="$root.isActive('/profile/:id/')">
                <a href="/#/users/{{ sharedData.getSignedUser().id }}">
                    {{ sharedData.getSignedUser().name | nameOrAnonymous }} ({{ sharedData.getSignedUser().email }})
                </a>
            </li>
            <li style="float: right;" ng-if="sharedData.isSigned()">
                <span class="thumbnail" style="width: auto; display: inline; float: right; margin: 0 0 0 10px; height: 50px;">
                  <img style="float: right; height: 100%;" ng-src="{{ sharedData.getSignedUser().avatar_thumb_url }}">
                </span>
            </li>
            <li style="float: right;" ng-if="!sharedData.isSigned()">
                <a class="sign-up" data-toggle="modal" data-target="#signUpModal" id='sign-up-button'>
                    Sign Up
                </a>
            </li>
            <li style="float: right;" ng-if="!sharedData.isSigned()">
                <a data-toggle="modal" data-target="#signInModal" id='sign-in-button'>
                    Sign In
                </a>
            </li>
        </ul>
    </div>
</nav>
<ng-include src="signInModalTemplate"></ng-include>
<ng-include src="signUpModalTemplate"></ng-include>


