<a ng-message="required">This field is required</a>
<a ng-message="minlength">This field is too short</a>
<a ng-message="maxlength">This field is too long</a>
<a ng-message="email">This needs to be a valid email</a>
<a ng-message="errorCompareTo">This needs to match previous field</a>