<div id="newAnswerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Answer</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="createAnswer()" name="newAnswerForm">
                    <div class="form-group">
                        <div ng-include="'_field_errors.html'" ng-controller="AnswersController" onload="title = 'Contents'; field = newAnswerForm.answerContents;"></div>
                        <textarea class="form-control" rows="4" id="answerContents" name="answerContents" ng-model="answer.contents" placeholder="Contents" required></textarea>
                    </div>
                    <ng-include src="'_form_errors.html'"></ng-include>
                    <button type="submit" class="btn btn-default">Create answer</button>
                </form>
            </div>
        </div>
    </div>
</div>