<article class="panel panel-default">
    <header class="panel-heading">
        <h1>
            {{ question.title }}
        </h1>
    </header>
    <section class="panel-body">
        <p ng-if="question.contents">
            {{ question.contents }}
        </p>
        <p ng-if="!question.contents">
            [ Question without content ?! :o ]
        </p>
    </section>
    <footer style="min-height: 50px;">
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#questionModal" ng-if="isOwner()">
            Edit
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="deleteQuestion()" ng-if="isOwner()">
            Delete
        </button>
        <span class="pull-right">
            Asked by user: <b>{{ question.user.name | nameOrAnonymous }}</b> <img height='30' ng-src="{{ question.user.avatar_thumb_url }}">
        </span>
        <br/>
    </footer>
</article>

<span ng-controller="AnswersController">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newAnswerModal" ng-disabled="!sharedData.isSigned()" ng-if="!questionHasAcceptedAnswer(question)"  id='add-answer'>
       <span ng-if="sharedData.isSigned()">
            Add answer
       </span>
       <span ng-if="!sharedData.isSigned()">
            Sign In to add Answer
       </span>     
    </button>
    <div class="panel panel-primary" ng-if="questionHasAcceptedAnswer(question)">
        <div class="panel-body">
            This question already has an accepted answer
        </div>
    </div>
    <ng-include src="newAnswerTemplate"></ng-include>
    <article ng-if="question.answers.length > 0">
        <header>
            <h3>
                Answers
            </h3>
        </header>
        <section ng-controller="LikesController" ng-init="getAllLikesFromCurrentUser()">
            <ul class="list-group" ng-repeat="answer in question.answers">
                <li class="list-group-item" id='answer-{{ answer.id }}'>
                    {{ answer.contents }}
                    <a class="btn btn-xs pull-right" ng-click="createOrDeleteLike(answer)" role="button" ng-class="(userLiked(answer)) ? 'btn-primary' : 'btn-default';">
                        {{ answer.likes_count }} likes
                    </a>
                    <a class="btn btn-xs btn-success pull-right" role="button" style="margin-right: 1em;" ng-if="answer.accepted && canAccept(question, answer)" ng-click="unacceptAnswer(answer)">
                        accepted
                    </a>
                    <a class="btn btn-xs btn-success pull-right" style="margin-right: 1em; cursor: default;" ng-if="answer.accepted && !canAccept(question, answer)">
                        accepted
                    </a>
                    <a class="btn btn-xs btn-link pull-right" role="button" style="margin-right: 1em;" ng-if="!answer.accepted && canAccept(question, answer) && !questionHasAcceptedAnswer(question)" ng-click="acceptAnswer(answer)">
                        accept
                    </a>
                </li>
            </ul>
        </section>
        <footer>

        </footer>
    </article>
</span>
<ng-include src="questionModalTemplate" ng-init="questionModalTitle = 'Update question';"></ng-include>

