<section ng-if="questions">
    <h1 class="text-center h2">Questions</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#questionModal">
        Add question
    </button>
    <br/>
    <br/>
    <ul class="list-unstyled">
        <li ng-repeat="question in questions">
            <a ng-href="#/questions/{{ question.id }}">
                <section class="well span12">
                    <h1 class="h3 span10">
                        {{ question.title }}
                    </h1>
                    <div class="span2">
                        <span class="pull-right">
                            Asked by user: <b>{{ question.user.name | nameOrAnonymous }}</b>
                        </span>
                    </div>
                </section>
            </a>
        </li>
    </ul>
</section>
<ng-include src="questionModalTemplate" ng-init="questionModalTitle = 'Create question';"></ng-include>
