<div id="questionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ questionModalTitle }}</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="createOrUpdateQuestion()" name="questionForm">
                    <div class="form-group">
                        <div ng-include="'_field_errors.html'" ng-controller="QuestionsController" onload="title = 'Title'; field = questionForm.questionTitle;"></div>
                        <input type="text" class="form-control" id="questionTitle" name="questionTitle" ng-model="question.title" placeholder="Title" required>
                    </div>
                    <div class="form-group">
                        <div ng-include="'_field_errors.html'" ng-controller="QuestionsController" onload="title = 'Contents'; field = questionForm.questionContents;"></div>
                        <textarea class="form-control" rows="4" id="questionContents" name="questionContents" ng-model="question.contents" placeholder="Contents"></textarea>
                    </div>
                    <ng-include src="'_form_errors.html'"></ng-include>
                    <button type="submit" class="btn btn-default" ng-disabled="questionForm.$invalid">Create question</button>
                </form>
            </div>
        </div>
    </div>
</div>