<div id="signUpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="signUp()" name="signUpForm">
                    <div class="form-group">
                        <div ng-include="'_field_errors.html'" ng-controller="SessionsController" onload="title = 'Email'; field = signUpForm.newEmail1;"></div>
                        <input type="text" class="form-control" id="newEmail1" placeholder="Email" name="newEmail1" ng-model="credentials.email" required ng-pattern="email_pattern"/>
                    </div>
                    <div class="form-group">
                        <div ng-include="'_field_errors.html'" ng-controller="SessionsController" onload="title = 'Email (confirm)'; field = signUpForm.newEmail2;"></div>
                        <input type="text" class="form-control" id="newEmail2" name="newEmail2"  placeholder="Email (confirm)" ng-model="credentials.emailConfirmation" compare-to="credentials.email" required>
                    </div>
                    <div class="form-group">
                        <div ng-include="'_field_errors.html'" ng-controller="SessionsController" onload="title = 'Password'; field = signUpForm.newPassword1;"></div>
                        <input type="password" class="form-control" name="newPassword1" id="newPassword1" placeholder="Password"  ng-model="credentials.password" ng-minlength="8" required>
                    </div>
                    <div class="form-group">
                        <div ng-include="'_field_errors.html'" ng-controller="SessionsController" onload="title = 'Password (confirm)'; field = signUpForm.newPassword2;"></div>
                        <input type="password" class="form-control" name="newPassword2" id="newPassword2" placeholder="Password (confirm)" ng-model="credentials.passwordConfirmation" compare-to="credentials.password" required>
                    </div>
                    <div ng-if="formErrors" class="alert alert-danger" role="alert">
                        <ul ng-repeat="(field, errors) in formErrors">
                            <li ng-repeat="error in errors">
                                {{ field | capitalize }}: {{ error }}
                            </li>
                        </ul>
                    </div>
                    <input type="submit"  class="btn btn-default" value="Submit" ng-disabled="signUpForm.$invalid" id='sign-up-submit' />
                </form>
            </div>
        </div>
    </div>
</div>