 <div id="signInModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign In</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="signIn()" name="signInForm">
                    <div class="form-group">
                        <div ng-include="'_field_errors.html'" ng-controller="SessionsController" onload="title = 'Email'; field = signInForm.email;"></div>
                        <input type="text" class="form-control" id="email" placeholder="Email" name="email" ng-model="credentials.email" required ng-pattern="email_pattern"/>
                    </div>
                    <div class="form-group">
                        <div ng-include="'_field_errors.html'" ng-controller="SessionsController" onload="title = 'Password'; field = signInForm.password;"></div>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password"  ng-model="credentials.password" required>
                    </div>
                    <div ng-if="formError" class="alert alert-danger" role="alert">{{ formError }}</div>
                    <input type="submit"  class="btn btn-default" value="Submit" ng-disabled="signInForm.$invalid" id='sign-in-submit' />
                </form>
            </div>
        </div>
    </div>
</div>