<section ng-controller="UsersController" ng-init="getUsers()">
    <h1 class="text-center h2">Users Leaderboard</h1>
    <ul class="list-unstyled" style="font-size: 110%;">
        <li ng-repeat="user in users">
            <a ng-href="#/users/{{ user.id }}">
                <section class="well span12">
				    {{ $index+1 }}. 
				    <img height='30' ng-src="{{ user.avatar_thumb_url }}" style="margin: 0 1em;"> 
				    <b>{{ user.name| nameOrAnonymous }}</b><span ng-if="user.superstar_badge" class="label label-success" style="margin: 0 5px;">Superstar</span>
				    <span class="pull-right">points: {{ user.points }}</span>
                </section>
            </a>
        </li>
    </ul>
</section>