<section ng-controller="UsersController" ng-if="isSignedUser()" ng-init="setUser()">
    <h1 class="text-center h2">Profile</h1>
    <span class="thumbnail" style="width: auto; display: inline-block;">
      <img ng-src="{{ user.avatar_thumb_url }}">
    </span>
    <span ng-if="user.superstar_badge">
        <h3>
            <span class="label label-success">Superstar</span>
        </h3>
        <br/>
    </span>
    <form ng-submit="updateUser()" name="updateUserForm">
        <div class="form-group">
            <div ng-include="'_field_errors.html'" onload="title = 'Name'; field = updateUserForm.name;"></div>
            <input type="text" class="form-control" id="name" placeholder="Name" name="name" ng-model="user.name" ng-minlength="3" ng-maxlength="25" required/>
        </div>
        <div ng-if="formError" class="alert alert-danger" role="alert">{{ formError }}</div>
        <input type="submit"  class="btn btn-default" value="Submit" ng-disabled="updateUserForm.$invalid" />
    </form>
    <br/>
    <section>
        <h1 class="text-center h2">Upload Avatar</h1>
        <input type="file" nv-file-select uploader="uploader"/><br/>
        <ul>
            <li ng-repeat="item in uploader.queue">
                Name: <span ng-bind="item.file.name"></span><br/>
                <button ng-click="item.upload()">upload</button>
            </li>
        </ul>
    </section>
</section>
<section ng-controller="UsersController" ng-if="!isSignedUser()" ng-init="getUser()">
    <h1 class="text-center h2">Profile</h1>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
      <img ng-src="{{ user.avatar_thumb_url }}">
          <div class="caption">
            <h3>{{ user.name }}</h3>
            <span ng-if="user.superstar_badge" class="label label-success" style="margin: auto;">Superstar</span>
          </div>
        </div>
      </div>
    </div>
</section>


