/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field {
  label {
    display: block;
  }
  input {
    width: 400px;
  }
  textarea {
    width: 400px;
    height: 100px;
  }
  .hint {
    color: #666;
    font-size: smaller;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.flash {
  .alert, .error {
    color: #f00;
  }
  .notice {
    color: #0c0;
  }
}

.container {
  padding: 10px 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

.well h1 {
  margin: 0;
  padding: 0;
}

.list-unstyled a {
  text-decoration: none;
}

.list-unstyled a:hover {
  background: none;
  color: #000;
}

.header .navbar a {
  color: #000;
  border-bottom: 2px #fff solid;
  cursor: pointer;
}

.header .navbar a:hover, .header .navbar a:focus {
  background: none;
  color: #000;
  border-bottom: 2px #000 solid;
}

.header .navbar li.active, .header .navbar li.active a {
  background: none;
  color: #000;
}

.header .navbar li.active a {
  border-bottom: 2px #000 solid;
}

a.sign-up {
  border-left: 1px solid #eee;
}

.modal .modal-content {
  padding: 0 20px;
}

article {
  header {
    h1 {
      margin: 0;
      padding: 0;
    }
  }

  section {
    p {
      font-size: 150%;
    }
  }

  footer {
    padding: 10px;
  }
}



