<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= yield :email %>
    <p>
      Cheers, <br/>
      <%= Rails.application.config.challange_app_site_address %> team
    </p>
  </body>
</html>