doctype html
html
  head
    title ChallengeApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags
  body
    /= render 'shared/header'
    = yield
